<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.elevenx.ams_mobile">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Profile.Edit_Profile"/>
        <activity android:name=".AfterLogin.JoinOrganization.Join_Organization" />
        <activity android:name=".AfterLogin.CreateOrganization.Create_Organization" />
        <activity android:name=".Profile.View_Profile">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity android:name=".AfterLogin.MP_After_Login" />
        <activity android:name=".Login.Login.Login" />
        <activity android:name=".Login.RegisterUser.Set_Password" />
        <activity android:name=".Login.RegisterUser.Verify_OTP" />
        <activity android:name=".Login.RegisterUser.Register_User" />
        <activity android:name=".Login.MP_Login" />
        <activity android:name=".Login.Login.Verify_Mobile_no" />
        <activity android:name=".Splash.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>